# SPDX-FileCopyrightText: 2019-2020 Magenta ApS
# SPDX-License-Identifier: MPL-2.0

stages:
  - sync
  - lint
  - build
  - test
  - coverage
  - release
  - deploy

variables:
  REALMBUILDER_IMAGE_SHA: ${CI_REGISTRY_IMAGE}/realm-builder:${CI_COMMIT_SHA}
  REALMBUILDER_RELEASE_REGISTRY_IMAGE: index.docker.io/magentaaps/os2mo-keycloak-realm-builder

  INTEGRATIONBUILDER_IMAGE_SHA: ${CI_REGISTRY_IMAGE}/integration-builder:${CI_COMMIT_SHA}
  INTEGRATIONBUILDER_RELEASE_REGISTRY_IMAGE: index.docker.io/magentaaps/os2mo-keycloak-integration-builder

  POETRY_VERSION: "1.8"
  PRECOMMIT_USE_POETRY: "true"

  PYTEST_COV_MODULE: .
  PYTEST_COV_FAIL_UNDER: 0

# Global Conditions
.if-default-branch-refs: &if-default-branch-refs
  if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"

.if-tag: &if-tag
  if: "$CI_COMMIT_TAG"

.if-merge-request: &if-merge-request
  if: "$CI_MERGE_REQUEST_IID"

include:
  - project: labs/salt-automation
    file:
      - gitlab-ci-templates/common/no-interrupt.v1.yml
      - gitlab-ci-templates/common/conventional-commits.v1.yml
      - gitlab-ci-templates/common/docker-build-meta.v2.yml
      - gitlab-ci-templates/common/docker-release-meta.v1.yml
      - gitlab-ci-templates/common/config-updater-meta.v1.yml
  - project: labs/salt-automation
    file:
      - gitlab-ci-templates/common/pre-commit.v1.yml
      - gitlab-ci-templates/python/pytest.v1.yml
    rules:
      - <<: *if-merge-request

workflow:
  rules:
    - <<: *if-tag
      variables:
        # Override the IMAGE_SHA variable on tag pipelines to avoid both the default
        # branch pipeline and tag pipeline overriding each other's images arbitrarily when
        # they are both running at the same time on master.
        IMAGE_SHA: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}
    - <<: *if-default-branch-refs
    - <<: *if-merge-request

# Build stage
#############

Build RealmBuilder:
  extends: .build-docker
  variables:
    CI_IMAGE: ${REALMBUILDER_IMAGE_SHA}

Build IntegrationBuilder:
  extends: .build-docker
  variables:
    CONTEXT: ${CI_PROJECT_DIR}/integration
    DOCKERFILE: ${CI_PROJECT_DIR}/integration/Dockerfile
    CI_IMAGE: ${INTEGRATIONBUILDER_IMAGE_SHA}

# Test stage
############

Test RealmBuilder:
  stage: test
  needs: ["Build RealmBuilder"]
  image:
    name: ${REALMBUILDER_IMAGE_SHA}
    entrypoint: [""]
  variables:
    KEYCLOAK_ADMIN_PASSWORD: "123"
  script:
    - python3 main.py

# Release stage
###############

Release RealmBuilder master:
  extends: .release-master
  variables:
    CI_IMAGE: ${REALMBUILDER_IMAGE_SHA}
    RELEASE_IMAGE: ${REALMBUILDER_RELEASE_REGISTRY_IMAGE}

Release RealmBuilder version:
  extends: .release-version
  variables:
    CI_IMAGE: ${REALMBUILDER_IMAGE_SHA}
    RELEASE_IMAGE: ${REALMBUILDER_RELEASE_REGISTRY_IMAGE}

Release IntegrationBuilder master:
  extends: .release-master
  variables:
    CI_IMAGE: ${INTEGRATIONBUILDER_IMAGE_SHA}
    RELEASE_IMAGE: ${INTEGRATIONBUILDER_RELEASE_REGISTRY_IMAGE}

Release IntegrationBuilder version:
  extends: .release-version
  variables:
    CI_IMAGE: ${INTEGRATIONBUILDER_IMAGE_SHA}
    RELEASE_IMAGE: ${INTEGRATIONBUILDER_RELEASE_REGISTRY_IMAGE}

# Deploy stage
##############

Deploy RealmBuilder to Flux Dev:
  extends: .release-to-dev
  needs: ["Release RealmBuilder version"]
  variables:
    ENDPOINT: os2mo/flux/realmbuilder/update-dev

Deploy RealmBuilder to Flux Test:
  extends: .release-to-test
  needs: []
  variables:
    ENDPOINT: os2mo/flux/realmbuilder/update-test

Deploy RealmBuilder to Flux Prod:
  extends: .release-to-prod
  needs: []
  variables:
    ENDPOINT: os2mo/flux/realmbuilder/update-prod

Deploy RealmBuilder to Salt Dev:
  extends: .release-to-dev
  needs: ["Release RealmBuilder version"]
  variables:
    ENDPOINT: os2mo/salt/realmbuilder/update-dev

Deploy RealmBuilder to Salt Test:
  extends: .release-to-test
  needs: []
  variables:
    ENDPOINT: os2mo/salt/realmbuilder/update-test

Deploy RealmBuilder to Salt Prod:
  extends: .release-to-prod
  needs: []
  variables:
    ENDPOINT: os2mo/salt/realmbuilder/update-prod

Deploy IntegrationBuilder to Flux Dev:
  extends: .release-to-dev
  needs: ["Release IntegrationBuilder version"]
  variables:
    ENDPOINT: os2mo/flux/integrationbuilder/update-dev

Deploy IntegrationBuilder to Flux Test:
  extends: .release-to-test
  needs: []
  variables:
    ENDPOINT: os2mo/flux/integrationbuilder/update-test

Deploy IntegrationBuilder to Flux Prod:
  extends: .release-to-prod
  needs: []
  variables:
    ENDPOINT: os2mo/flux/integrationbuilder/update-prod

Deploy IntegrationBuilder to Salt Dev:
  extends: .release-to-dev
  needs: ["Release IntegrationBuilder version"]
  variables:
    ENDPOINT: os2mo/salt/integrationbuilder/update-dev

Deploy IntegrationBuilder to Salt Test:
  extends: .release-to-test
  needs: []
  variables:
    ENDPOINT: os2mo/salt/integrationbuilder/update-test

Deploy IntegrationBuilder to Salt Prod:
  extends: .release-to-prod
  needs: []
  variables:
    ENDPOINT: os2mo/salt/integrationbuilder/update-prod
